@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --color-primary: 17 24 39; gray-900 */
  --color-primary: red;
  --color-background: 255 255 255; /* white */
  --color-text: 17 24 39; /* gray-900 */
}

.dark {
  --color-primary: 243 244 246; /* gray-100 */
  --color-background: 0 0 0; /* black */
  --color-text: 243 244 246; /* gray-100 */
}
